/*!
 * Start Bootstrap - Business Frontpage (https://startbootstrap.com/templates/business-frontpage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-business-frontpage/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.login-register-modal .container {
  padding: 2rem 0rem;
}

@media (min-width: 576px){
  .login-register-modal .modal-dialog {
    max-width: 400px;
  }
  .login-register-modal  .modal-dialog .modal-content {
    padding: 1rem;
  }
}

.login-register-modal .modal-header .close {
    margin-top: -1.5rem;
}

.login-register-modal .form-title {
  margin: -2rem 0rem 2rem;
}

.login-register-modal .btn-round {
  border-radius: 3rem;
}

.login-register-modal .delimiter {
  padding: 1rem;
}

.login-register-modal .social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.login-register-modal .signup-section {
  padding: 0.3rem 0rem;
}


