<table class="table_1 table table-striped table-bordered table-responsive" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Datetime</th>
            <th>Description</th>
            <th>Current Users</th>
            <th>Max Users</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Event 1</td>
            <td>11-11-2020 14:00 - 16:00</td>
            <td>Example description</td>
            <td>0</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Event 2</td>
            <td>11-12-2020 14:00 - 16:00</td>
            <td>Example description 2</td>
            <td>3</td>
            <td>6</td>
        </tr>
    </tbody>
</table>